{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center text-2xl font-bold mb-4">
    Let's Dive into Some TechPost
</div>
<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900 -mt-16 px-4 sm:px-6 lg:px-8">

    <div class="bg-white dark:bg-gray-800 p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-6">Login</h2>

        {% if error %}
            <div class="text-red-500 text-sm mb-4">
                Invalid credentials. Please try again.
            </div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="POST">
            <div class="mb-4">
                <label for="_username" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Email</label>
                <input 
                    type="text" 
                    name="_username" 
                    value="{{ lastUsername }}" 
                    id="_username"
                    class="block w-full p-3 border border-gray-300 dark:border-gray-700 dark:text-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-gray-900 dark:focus:ring-indigo-400"
                    placeholder="Enter your email" 
                    required />
            </div>

            <div class="mb-6">
                <label for="_password" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Password</label>
                <input 
                    type="password" 
                    name="_password" 
                    id="_password"
                    class="block w-full p-3 border border-gray-300 dark:border-gray-700 dark:text-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-gray-900 dark:focus:ring-indigo-400"
                    placeholder="Enter your password" 
                    required />
            </div>

            <input type="hidden" name="_target_path" value="/post" />
            <button type="submit" 
                class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-400">
                Login
            </button>

            <div class="mt-6 text-center">
                <p class="text-sm text-gray-600 dark:text-gray-300">Don't have an account? <a href="{{ path('app_register') }}" class="text-indigo-600 hover:text-indigo-700 dark:text-indigo-500">Sign up</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
