{% extends 'base.html.twig' %}
{% block title %}Create New Post
{% endblock %}

{% block bread %}
<div class="flex flex-wrap justify-between items-center">
    <h1 class="text-xl md:text-2xl font-bold">Add Post</h1>

{% endblock %}
{% block body %}

{{include ('post/_form.html.twig')}}

{% endblock %}
